@charset "UTF-8";
/* CSS Document */

html {
	font-size: 16px;
}
head,body { 
	margin: 0 auto; 
	padding: 0; 
	overflow-x: hidden; 
	max-width: 1920px;  
	font-family: 'EB Garamond','Noto Sans TC', sans-serif; 
	/* -moz-user-select: none; */
	/* -webkit-user-select: none; */
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration:none; 
	display: inline-block;
}
body {
	background: #fffaf6;
}

::selection {
background: #f7eb3e;
}

img::selection {
background: transparent;
}

li{
	list-style: none;
}

li a:hover{
	transform:scale(0.98)
}


h1 {
	font-size: 3rem; 
	line-height: 3.2rem; 
	color: #1a296c; 
	text-align: left;
	margin: 30px 0;
}
h2{
	font-size: 1.2rem;
	color: #1a296c; 
	margin: 60px auto 20px;
}
p{
	font-size: 1rem;
	line-height: 1.9rem;
	color: #0a2d40;
	text-align: justify;
}
p span{
	font-size: 0.8rem;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	margin-right: 10px;
}

.container { 
	position: relative; 
	margin: 30px auto;
	max-width: 800px;
	padding-left: 180px;
}

.nav{
	width: 120px;
	position: fixed;
	left: calc(50% - 400px);
	top: 10%;
	z-index: 99;
	font-size: 0.9rem;
	color: #fff;
}
.nav a {
 color: #1a296c;
 font-size: 0.8rem;
 margin: 16px auto;
 transition: all 0.2s ease;

}
.active {
	border-bottom: 2px solid #f7eb3e;
  }
  

button{
	padding: 8px 26px;
	background: #4ec6a3;
	border: none;
    border-radius: 3px;
	transition: all 0.2s ease;
	position: relative;
	overflow: hidden;
	margin: 10px 20px 10px 0;
}
button a{
    color: #fff;
    font-size: 1rem;
	font-family: 'EB Garamond';
	text-transform:uppercase; 
}
button a::after{
	content: '▸';
	margin-left: 6px;
    transition-duration: 0.3s;
	display: inherit;
}
button:hover a::after{
	animation: arrow 0.4s 0s infinite;
}
@keyframes arrow {
	0% { transform: translate(2px ,0);}
	100% {transform: translate(-2px ,0);}
}
button:hover{
	transform:scale(0.98);
	cursor: pointer;
}
button:active:after {
    transform: scale(0,0);
    opacity: .5;
    transition: 0s;
}
button::after{
	width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #fbf0d7;
    background-position: 50%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: scale(1,5);
    opacity: 0;
    transition: transform .5s,opacity 1s;
}
.list{
	display: flex;
	justify-self: start;
	max-width: 800px;
	background: #fff;
	box-shadow: 0px 2px 4px #a2a2a24a;
	margin: 0 auto 30px;
}
.list img{
	width: 100%;
	max-width: 360px;
}
.list .text{
	margin: auto 20px;
	padding: 20px 0;
}
.list .text h3{
	font-size: 1.2rem;
	margin: 10px 0;
	color: #192a6c;
}
.list .text p{
	font-size: 1rem;
	line-height: 1.6rem;
	color: #7d858a;
}

a {
    transition-duration: 0.3s;
}
a:hover{
	transform:scale(0.98);
}


#gotop::before{
	content: "▵";
	display: block;
	margin-top: 3px;
	font-size: 0.6rem;
}
#gotop {
    position:fixed;
    z-index:90;
    right:30px;
    bottom:30px;
    display:none;
    width:40px;
    height:40px;
    color:#fff;
    background:#dedede;
    line-height:15px;
    border-radius:3px;
    transition:all 0.5s;
    text-align: center;
}
#gotop :hover{
    background:#878787;
}

@media screen and (max-width: 860px) {
	html{
		font-size: 14px;
	}
	.nav{
		width: 40px;
		left: 10px;
	}
	.container { 
		margin: 20px;
		padding-left: 50px;
	}
	h1{
		font-size: 2.4rem;
		white-space:nowrap;
		margin: 3vw auto;
	}
	h2{
		margin: 6vw auto 3vw;
		text-align: justify;
	}

	#gotop {
		left: 10px;
		right:auto;
		bottom:30px;
		display:none;
	}
	
}


@media screen and (max-width: 420px) {
	.list{
		flex-wrap: wrap;
	}
	.list img{
		max-width: 100%;
	}

}
